<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/" width="30" height="30" alt="">エロ診断メーカー</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="https://storage.googleapis.com/edd-homepage/IntroductionEdD/who.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="https://storage.googleapis.com/edd-homepage/IntroductionEdD/products.html">Other Service</a></li>
      </ul>
    </div>
  </nav>
