{% extends "bootstrap/base.html" %}

{% block title %}
  エロ診断メーカー
{% endblock %}

{% block navbar %}
  {% include "_navbar.html" %}
{% endblock %}

{% block content %}

  <div class="container-fluid text-center">
    <img src="/static/images/busaiku_slime.png">
    <h3>エロ大魔神様</h3>
  </div>

{% block sub_content %}
{% endblock %}
    
  <form action="/result" method="post" class="form-inline">
    <div class="container-fluid text-center">
      <label for="name"></label>
      <input type="text" class="form-control" id="name" name="name" placeholder="ex.山田花子">
      <button type="submit" class="btn btn-primary btn-lg">診断する</button>
    </div>
  </form>
 
  <footer class="">
    <div class="text-center text-white">
      <p>&#169;2018 Ed.D.</p>
    </div>
  </footer>
{% endblock %}
